.tern-project
.checkstyle
.classpath
.project
.settings
.sonar-ide.properties
target/
.idea/
*.iml
.DS_store
node_modules
npm-debug.log
.dockerignore
.vscode/
public
*.orig
yarn-error.log
.history
package-lock.json
